{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yupiter</title>


    <script type="module" crossorigin src="{% static 'js/form.js' %}" defer></script>
    <script type="module" crossorigin src="{% static 'js/main-CnO608fQ.js' %}" defer></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/main-DWKbr1L4.css' %}">
</head>

<body>
    <!-- HEADER -->
    <header class="header" id="header">
        {% include 'header.html' %}
    </header>

    <!-- CONTACT MAIN -->
    <main>
        <section class="section__form">
            <div class="form form--contact">
                <div class="form__container form__container--contact container">
                    <div class="form__left">
                        <div class="form__header">
                            <h2>Записаться на консультацию</h2>
                            <p>Заполните форму, чтобы связаться с нами.</p>
                        </div>
                        <div class="form__img form__img--contact">
                            <img src="{% static 'img/form2.png' %}" alt="form1">
                        </div>
                        <div class="form__background form__background--contact">
                            <img src="{% static 'img/points2.png' %}" alt="points">
                        </div>
                    </div>
                    <div class="form__right form__right--contact">
                        <form action="" class="form__items" method="POST">
                            {% csrf_token %}
                            <div class="form__col">
                                <div class="form__inputs form__inputs--second">
                                    <div class="form__two-col">
                                        <div class="form__input">
                                            <label for="firstName">Имя</label>
                                            <input type="text" id="firstName" name="firstName"
                                                placeholder="Напишите свое имя" required />
                                        </div>
                                        <div class="form__input">
                                            <label for="lastName">Фамилия</label>
                                            <input type="tel" id="lastName" name="lastName"
                                                placeholder="Напишите свою фамилию" required />
                                        </div>
                                    </div>
                                    <div class="form__input">
                                        <label for="phone">Номер телефона</label>
                                        <input type="tel" id="phone" name="phone"
                                            placeholder="Напишите свой номер телефона" required>
                                    </div>
                                    <div class="form__input">
                                        <label for="formInput">Какой у вас тип ампутации?</label>

                                        <!-- Значения брать от сюда -->
                                        <input type="text" id="formValue" value="Нет руки" data-value="Нет руки" name="type_amputation">
                                        <input type="text" style="position: absolute; opacity: 0; left: 0;"
                                            id="formInput">
                                        <div class="form__additional" id="formAdditional">
                                            <ul class="form__additional-list">
                                                <!-- Значения по умолчанию -->
                                                <li class="form__additional-item" data-value="Нет руки">
                                                    <p>Нет руки</p>
                                                </li>
                                                <li class="form__additional-item" data-value="Нет пальца">
                                                    <p>Нет пальца</p>
                                                </li>
                                                <li class="form__additional-item" data-value="Нет ноги">
                                                    <p>Нет ноги</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form__input">
                                        <label for="textarea">Дополнительный комментарий</label>
                                        <textarea rows="5" name="textarea" id="textarea"
                                            placeholder="Напишите если хотите сообщить что-то дополнительно"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form__submit">
                                <button type="submit" class="form__button link-button">
                                    <span>Отправить</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer" id="footer">
        {% include 'footer.html' %}
    </footer>
</body>

</html>