{% load static %}
<!DOCTYPE html>
<html lang="uz">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yupiter</title>

  <script type="module" crossorigin src="{% static 'js/main-CnO608fQ.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'css/main-DWKbr1L4.css' %}">
</head>

<body>
  <!-- HEADER -->
  <header class="header" id="header">
    {% include 'header_uz.html' %}
  </header>
  <!--  -->

  <!-- INDEX MAIN -->
  <main class="main" id="main">
    <section class="main-section">
      <div class="main__container container">
        <div class="main-section__text">
          <h1>Hayotni qo‘lingizga oling</h1>
          <p>Harakatlanish, mustaqillik va ishonchni qaytaruvchi ilg‘or protez yechimlari</p>
          <div>
            <a href="{% url 'contact' %}" class="link-button main-section__btn">Konsultatsiyadan o‘tish</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section__container">
        <div class="section__header">
          <h2>Bizning missiyamiz</h2>
          <p>Biz innovatsion protez yechimlarini yaratishga intilamiz,<br>ular odamlarning to‘liq hayot kechirishiga yordam beradi.</p>
        </div>
        <div class="section__top">
          <div class="section__items">
            <div class="section__item">
              <div class="section__img">
                <img src="{% static 'img/section/form2.png' %}" alt="form1">
              </div>
              <div class="section__title">
                <p>Individual yondashuv</p>
              </div>
              <div class="section__desc">
                <p>Har bir protez sizning noyob anatomik xususiyatlaringiz va turmush tarzinizni hisobga olgan holda individual tayyorlanadi.</p>
              </div>
            </div>
            <div class="section__item">
              <div class="section__img">
                <img src="{% static 'img/section/form3.png' %}" alt="form1">
              </div>
              <div class="section__title">
                <p>Ilg‘or texnologiyalar</p>
              </div>
              <div class="section__desc">
                <p>Harakatlarning tabiiyligi va maksimal qulaylik uchun zamonaviy materiallar va elektronika.</p>
              </div>
            </div>
            <div class="section__item">
              <div class="section__img">
                <img src="{% static 'img/section/form1.png' %}" alt="form1">
              </div>
              <div class="section__title">
                <p>Umrbod qo‘llab-quvvatlash</p>
              </div>
              <div class="section__desc">
                <p>Protezlardan foydalanish davri mobaynida to‘liq parvarish, sozlash va modernizatsiya.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-second" id="products">
      <div class="section__container2">
        <div class="section__header">
          <h2>Mahsulotlarimiz</h2>
          <p>Protezlash sohasidagi ilg‘or yechimlarimiz<br>bilan tanishing</p>
        </div>
        <div class="section__bottom">
          <div class="section__products">
                {% for pros in prosthetics %}
                {% if pros.status == "ready" %}
                    <div class="section__product">
                      <div class="section__product-left">
                        <img src="{{ pros.image.url }}" alt="product">
                      </div>
                      <div class="section__product-right">
                        <h3>{{ pros.name_uz }}</h3>
                        <p>{{ pros.description_uz|truncatechars:40 }}...</p>
                        <a href="{% url 'products_uz' %}">Batafsil ma'lumot oling -></a>
                      </div>
                      <div class="section__product-btn">
                        <a href="{% url 'products_uz' %}">{{ pros.get_type_prosthetics_uz_display }}</a>
                      </div>
                    </div>
                {% else %}
                    <div class="section__product blur">
                      <div class="section__product-left">
                        <img src="{{ pros.image.url }}" alt="product">
                      </div>
                      <div class="section__product-right">
                        <h3>{{ pros.name_uz }}</h3>
                        <p>{{ pros.description_uz|truncatechars:40 }}...</p>
                        <a href="{% url 'products_uz' %}">Batafsil ma'lumot oling -></a>
                      </div>
                      <div class="section__product-btn">
                        <a href="{% url 'products_uz' %}">{{ pros.get_type_prosthetics_uz_display }} Tez orada...</a>
                      </div>
                    </div>
                {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <section class="faq" id="faq">
      <div class="faq__container container">
        <div class="faq__header">
          <h1 class="faq__title">Ko‘p so‘raladigan savollar</h1>
          <p class="faq__desc">Bu yerda mijozlarimiz eng ko‘p beradigan savollarga javoblarni topishingiz mumkin.</p>
        </div>
        <div class="faq__content">
          <div class="faq__item">
            <h3>Qanday qilib men protezni bepul olsam bo‘ladi?</h3>
            <p>Lorem ipsum ...</p>
            <div class="faq__arrow"><img src="{% static 'icon/arrow.svg' %}" alt="arrow"></div>
          </div>
          <div class="faq__item">
            <h3>Agar protezim sinib qolsa nima qilishim kerak?</h3>
            <p>Lorem ipsum ...</p>
            <div class="faq__arrow"><img src="{% static 'icon/arrow.svg' %}" alt="arrow"></div>
          </div>
          <div class="faq__item">
            <h3>Protez tayyorlash muddati qancha?</h3>
            <p>Lorem ipsum ...</p>
            <div class="faq__arrow"><img src="{% static 'icon/arrow.svg' %}" alt="arrow"></div>
          </div>
          <div class="faq__item">
            <h3>Men protezni o‘zim xohlagancha moslashtira olamanmi?</h3>
            <p>Lorem ipsum ...</p>
            <div class="faq__arrow"><img src="{% static 'icon/arrow.svg' %}" alt="arrow"></div>
          </div>
        </div>
      </div>
    </section>

    <div class="section section-cta">
      <div class="section-cta__container container">
        <div class="section-cta__content">
          <div class="section-cta__left">
            <img src="{% static 'img/cta.png' %}" alt="cta">
          </div>
          <div class="section-cta__right">
            <div class="section-cta__text">
              <p>Ariza qoldiring — va shaxsiy protezingizni oling</p>
            </div>
            <div class="section-cta__bottom">
              <a href="{% url 'contact' %}" class="link-button section-cta__btn">Ariza qoldirish</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-contacts" id="contact">
      <div class="section-contacts__container">
        <div class="section-contacts__header section__header">
          <h2>Bizni qanday topish mumkin?</h2>
          <p class="section-contacts__text-header">
            <span>Xaritada bizning ofisimiz ko‘rsatilgan, shuningdek,</span>
            <span>biz bilan ijtimoiy tarmoqlar yoki quyidagi kontaktlar orqali bog‘lanishingiz mumkin.</span>
          </p>
        </div>
        <div class="section-contacts__content">
          <div class="section-contacts__left">
            <div class="section-contacts__col">
              <p>Manzil:</p>
              <p>
                <span>Samarqand shahri</span>
                <span>Firdavsiy ko‘chasi, 81A</span>
              </p>
            </div>
            <div class="section-contacts__col">
              <p>Telefon raqami:</p>
              <p>
                <span>+998 91 523 34 37</span>
              </p>
            </div>
            <div class="section-contacts__col">
              <p>Email:</p>
              <p>
                <span>info@prosthetichand.com</span>
              </p>
            </div>
            <div class="section-contacts__col">
              <p>Ish vaqti:</p>
              <p>
                <span>Dushanba-Shanba: 9:00 - 19:00</span>
              </p>
            </div>
            <div class="section-contacts__media">
              <a href="#">
                <img src="{% static 'icon/a.social-link.svg' %}" alt="media">
              </a>
              <a href="#">
                <img src="{% static 'icon/a.social-link-1.svg' %}" alt="media">
              </a>
              <a href="#">
                <img src="{% static 'icon/a.social-link-2.svg' %}" alt="media">
              </a>
              <a href="#">
                <img src="{% static 'icon/a.social-link-3.svg' %}" alt="media">
              </a>
            </div>
          </div>
          <div class="section-contacts__right">
            <div class="section-contacts__map-block">
              <iframe id="IfRame"
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A1d094dbf25c9c7ee507ae41cfa929b46bd5321e85f94740d084ba72dc7044d5e&amp;source=constructor"
                width="711" height="455" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="section-contacts__background">
        <img src="{% static 'img/points.png' %}" alt="points">
      </div>
    </div>

    <div class="section-thank">
      <div class="section-thank__header">
        <h2>Bizni tanlaganingiz uchun rahmat!</h2>
      </div>
    </div>

  </main>
  <!--  -->

  <!-- FOOTER -->
  <footer class="footer" id="footer">
    {% include 'footer_uz.html' %}
  </footer>
  <!--  -->
</body>

</html>
